<div class="container-fluid">
    <div class="row">
        <div class="cover col-md-12">
            <img id="coverImg" class="cover-margin" src="/images/beer.png" alt="">
            <a class="cover-margin white-letters blue-background btn btn-primary" href="/beers" role="button">Check the Beers!</a>
            <a class="cover-margin white-letters blue-background btn btn-primary" href="/random-beer" role="button">Check a Random Beer!</a>
        </div>
    </div>
</div>